@import "tailwindcss";
@import "tailwindcss/utilities";

.bg-main {
     background:
    radial-gradient(circle at 35% 50%, rgba(42, 2, 82, 0.25), transparent 80%),
    linear-gradient(90deg, #000000 0%, #15002a 50%, #000000 100%);
}

html {
  scroll-behavior: smooth;
}
@layer utilities {
  @keyframes fadeSlide {
    0% { opacity: 0; transform: translateX(40px); }
    100% { opacity: 1; transform: translateX(0); }
  }
  .animate-fadeSlide {
    animation: fadeSlide 0.5s ease forwards;
  }
}
* {
  caret-color: transparent;
}
/* * {
  user-select: none;
} */
